body {
  font-family: ' Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
header {
  background-color: #e9be00; /* Fondo amarillo */
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Estilo solo para computadoras */
.desktop-only h1 {
  font-size: 2.5em; /* Ajusta el tamaño del encabezado principal según tu preferencia */
}

.desktop-only h2 {
  font-size: 1.2em; /* Tamaño del subtítulo más pequeño */
  color: rgb(0, 0, 0); /* Opcional: Cambia el color del texto si lo deseas */
  margin-top: 0.5em; /* Espacio superior opcional */
}


/* Estilos generales de la barra de navegación */
nav {
  background-color: rgb(0, 0, 0); /* Color negro por defecto */
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos para el botón de menú hamburguesa */
.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
}

/* Ocultar el menú hamburguesa en computadoras */
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

/* Ocultar el encabezado en dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  nav {
    justify-content: space-between;
    background: linear-gradient(to bottom, #e9be00, #e0dfdf); /* Degradado de arriba hacia abajo */
  }
}

/* Estilos para hacer la barra de navegación responsive */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000000; /* Color amarillo para el fondo en el menú desplegable */
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Transición suave */
    z-index: 1000;
  }

  nav ul.active {
    max-height: 100vh; /* Altura máxima cuando está activo */
  }

  nav a {
    display: block;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }
}

/* Estilo general para la sección de inicio */
#home {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Altura completa de la ventana de visualización */
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1; /* Asegúrate de que el elemento esté por encima de los demás */
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  color: white;
  z-index: 3;
}

.overlay-text h1, .overlay-text h2 {
  margin: 0;
}

.overlay-text h1 {
  font-size: 1.5em; /* Ajusta el tamaño del encabezado */
}

.overlay-text h2 {
  font-size: 1.5em; /* Ajusta el tamaño del subtítulo */
}

.contact-button {
  display: inline-block;
  margin-top: 8px;
  padding: 10px 20px; /* Tamaño más grande del botón */
  background-color: #f39c12;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.8em; /* Tamaño más grande de la fuente del botón */
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #e67e22;
}

/* Eliminadas las flechas de navegación en CSS */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  #home {
    height: 100vw; /* La altura será igual al ancho de la ventana de visualización */
  }

  .carousel {
    height: 100vw; /* La altura será igual al ancho del contenedor */
  }

  .carousel-item {
    height: 100vw; /* La altura será igual al ancho del contenedor */
    transition: opacity 2s ease-in-out; /* Transición más lenta en móviles */
  }

  .home-image {
    height: 100vw; /* La altura de las imágenes será igual al ancho del contenedor */
  }

  .overlay-text h1 {
    font-size: 1.0em; /* Tamaño más grande del encabezado para móviles */
  }

  .overlay-text h2 {
    font-size: 1em; /* Tamaño más grande del subtítulo para móviles */
  }

  .contact-button {
    font-size: 0.8em; /* Tamaño más grande de la fuente del botón */
    padding: 8px 16px; /* Tamaño más grande del botón */
  }
}



/* Estilos específicos para la sección 'Acerca de Nosotros' */
#about {
  background: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff); /* Degradado de arriba hacia abajo */
  color: rgb(0, 0, 0); /* Color de texto más oscuro para mejor legibilidad */
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 60px 20px; /* Mayor padding para más espacio */
  box-shadow: 0 4px 8px rgb(0, 0, 0); /* Sombra sutil para un efecto de elevación */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para los cambios */
}

#about:hover {
  box-shadow: 0 8px 16px rgb(0, 0, 0); /* Sombra más pronunciada al pasar el ratón */
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px; /* Ancho máximo para mantener la sección centrada */
  margin: 0 auto; /* Centra la sección */
}

.about-text {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: #e9be00; /* Fondo amarillo para el texto */
  border-radius: 8px; /* Bordes redondeados en el contenedor del texto */
  box-shadow: 0 4px 8px rgb(0, 0, 0); /* Sombra sutil para el contenedor del texto */
  transition: box-shadow 0.3s ease; /* Transición suave para los cambios en la sombra */
}

.about-text:hover {
  box-shadow: 0 8px 16px rgb(0, 0, 0); /* Sombra más pronunciada al pasar el ratón */
}

.about-text h2 {
  text-align: center;
  color: rgb(255, 255, 255); /* Color del encabezado para hacerlo destacar un poco más */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.about-text p {
  margin-bottom: 20px; /* Espacio entre párrafos */
}

.about-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 8px; /* Bordes redondeados en las imágenes */
  transition: transform 0.3s ease; /* Transición suave para los efectos de hover */
}

.about-image:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilo para ocultar la primera imagen en dispositivos que no sean móviles */
@media screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

/* Media query para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  #about {
    padding: 30px 15px; /* Ajusta el padding para pantallas más pequeñas */
    flex-direction: column;
  }

  .about-text {
    margin: 20px 0;
  }

  .about-image {
    margin: 20px 0;
  }
}

 /* Estilo general para la sección de bienvenida */
.welcome-section {
  position: relative;
  padding: 0;
  background: url('Imagenes/food-761041_1280.jpg') center/cover no-repeat;
  text-align: center;
  height: 100vh; /* Altura completa de la ventana en pantallas grandes */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Capa negra semi-transparente */
.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenedor del contenido */
.welcome-section .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo del encabezado */
.welcome-section h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
}

/* Estilo del botón */
.welcome-section .menu-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff;
  color: #ff7e5f;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo del botón al pasar el cursor */
.welcome-section .menu-button:hover {
  background-color: #ff7e5f;
  color: #fff;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .welcome-section {
    height: 100vw; /* Altura igual al ancho de la ventana */
  }
}



.menu-item {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1; /* Mantiene el tamaño cuadrado */
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
  margin-bottom: 10px;
}

.menu-item h3 {
  margin: 10px 0;
  font-size: 12px; /* Reducido para hacer el texto más pequeño */
  color: #000;
}

.menu-item p {
  margin: 5px 0 10px;
  font-size: 10px; /* Reducido para hacer el texto del precio más pequeño */
  color: #04dd16;
  font-weight: bold; /* Pone el texto en negrita */
}

.menu-item button {
  display: block;
  width: calc(100% - 20px); /* Asegura que el botón ocupe casi todo el ancho del contenedor */
  padding: 6px; /* Menos padding para botones más pequeños */
  margin-top: 8px; /* Ajusta el margen superior */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 10px; /* Tamaño de fuente más pequeño para los botones */
}

.menu-item button:nth-of-type(1) {
  background-color: #28a745;
  color: #fff;
}

.menu-item button:nth-of-type(2) {
  background-color: #ffc107;
  color: #000;
}

.menu-item button:hover {
  background-color: #0056b3;
}

#category-filter {
  margin-top: 20px;
  text-align: center;
}

#category-filter {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en varias filas si es necesario */
  justify-content: center; /* Centra los botones en el contenedor */
}

#category-filter button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px; /* Ajusta el padding para botones más pequeños */
  margin: 5px; /* Espacio entre los botones */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px; /* Ajusta el tamaño de fuente para los botones */
}

#category-filter button:hover {
  background-color: #0056b3;
}

#search {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media screen and (min-width: 769px) {
  .menu-item {
      width: calc(33.33% - 20px); /* Para pantallas más grandes, tres columnas */
  }

  .menu-item button {
      padding: 10px; /* Aumenta el padding para botones en computadoras */
      font-size: 12px; /* Aumenta el tamaño de la fuente para botones en computadoras */
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
      width: calc(50% - 20px); /* Para pantallas más pequeñas, dos columnas */
  }
}



/* Reset básico para márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Sección de galería */
#galeria {
  padding: 2rem;
  background: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}



/* Contenedor de la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Elementos de la galería */
.gallery-item {
  flex: 1 1 calc(33.333% - 2rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive design */
@media (max-width: 768px) {
  .gallery-item {
      flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .gallery-item {
      flex: 1 1 100%;
  }
}

/* Reset básico para márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Sección de testimonios */
#testimonios {
  padding: 2rem;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

/* Contenedor de testimonios */
.testimonial-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* Tarjetas de testimonios */
.testimonial-card {
  flex: 1 1 calc(33.333% - 2rem);
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-card p {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial-card h3 {
  margin: 0.5rem 0;
  color: #333;
}

.testimonial-card span {
  color: #777;
}

/* Responsive design */
@media (max-width: 768px) {
  .testimonial-card {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    flex: 1 1 100%;
  }
}


#faq {
  background: linear-gradient(to bottom, rgb(255, 255, 255), #e9be00); /* Degradado de arriba hacia abajo */
  text-align: center;
  padding: 40px 20px; /* Aumenta el espacio interno para separar del contenido */
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.faq-item {
  margin-bottom: 20px; /* Aumenta el espacio entre elementos */
  background-color: #ffffff;
  padding: 20px; /* Aumenta el espacio interno */
  border-radius: 10px; /* Reducido el radio del borde para suavizar las esquinas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  width: 80%; /* Establece un ancho máximo para la pregunta/respuesta */
  max-width: 600px; /* Ajusta el ancho máximo para pantallas grandes */
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  margin: 0;
  font-size: 18px; /* Reducido el tamaño del texto de las preguntas */
  color: #000000; /* Cambiado el color del texto de las preguntas */
  font-weight: bold; /* Hacer el texto más grueso */
  flex: 1; /* Permite que la pregunta ocupe todo el espacio disponible */
}

.toggle-btn {
  background-color: #ffffff;
  color: #005ce6;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  width: 20px; /* Aumentado el tamaño del botón */
  height: 20px; /* Aumentado el tamaño del botón */
  border-radius: 50%;
  flex-shrink: 0; /* Evita que el botón se reduzca en tamaño */
}

.answer {
  display: none;
  font-size: 16px;
  color: #000000;
  text-align: justify; /* Justifica el texto */
  word-spacing: 3px; /* Agrega espacio entre palabras */
  margin-top: 10px; /* Agrega espacio entre la respuesta y el título */
}

.answer p:last-child {
  text-align-last: left; /* Alinea la última línea del párrafo a la izquierda */
}

/* Estilos cuando la pregunta o respuesta está cerrada */
.question .toggle-btn::after {
  content: "\25BC"; /* Flecha hacia abajo */
}

.answer .toggle-btn::after {
  content: ""; /* Sin contenido para la flecha cuando está cerrada */
}

/* Estilos cuando la pregunta o respuesta está abierta */
.question.open .toggle-btn::after {
  content: "\25B2"; /* Flecha hacia arriba */
}

.answer.open .toggle-btn::after {
  content: ""; /* Sin contenido para la flecha cuando está abierta */
}

/* Estilos para mostrar respuestas cuando la pregunta está abierta */
.question.open + .answer,
.answer.open {
  display: block;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .faq-item {
    width: 90%; /* Ajusta el ancho máximo para pantallas pequeñas */
  }

  .toggle-btn {
    width: 24px; /* Aumenta el tamaño del botón para pantallas pequeñas */
    height: 24px; /* Aumenta el tamaño del botón para pantallas pequeñas */
  }
}

/* Estilos para el mapa responsive */
    .map-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
      margin-bottom: 2rem; /* Espacio debajo del mapa */
    }
    .map-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    /* Estilo adicional para mejorar la visualización en pantallas grandes */
    @media (min-width: 768px) {
      .map-container {
        height: 500px; /* Altura fija en pantallas grandes */
        padding-bottom: 0; /* Eliminar el relleno inferior */
      }}


  .contact-button {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: bold; /* Aumenta el grosor del texto */
  }

  /* Efecto al pasar el ratón (hover) */
  .contact-button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  #contacto {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom: 1px solid rgb(0, 105, 241); /* Agregado un borde inferior */
  }

  #contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .redes-sociales {
    text-align: center;
    margin-bottom: 20px;
  }

  .red-social {
    display: inline-block;
    background-color: #3b5998; /* Azul de Facebook */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .red-social.instagram {
    background-color: #c13584; /* Rosa de Instagram */
  }

  .red-social:hover {
    background-color: #2d4373; /* Cambia a un tono más oscuro al pasar el mouse */
  }

  .whatsapp-button {
    text-align: center;
    margin-bottom: 50px; /* Ajusta el margen inferior para dejar espacio para el pie de pÃ¡gina */
  }

  .whatsapp-button p {
    margin-bottom: 20px;
  }
  .whatsapp-link {
    background-color: #25d366; /* Verde de WhatsApp */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .whatsapp-link:hover {
    background-color: #128c7e; /* Cambiar a un tono mÃ¡s oscuro al pasar el mouse */
    color: #fff;
  }

/* Estilo para el botón de WhatsApp fijo */
.whatsapp-button-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000;
}

.whatsapp-button-fixed img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-button-fixed img:hover {
  transform: scale(1.1);
}

/* Media query para ajustar el tamaño del botón en dispositivos móviles */
@media screen and (max-width: 768px) {
  .whatsapp-button-fixed {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }
}


  /* Estilos generales para el pie de pÃ¡gina */
  footer {
    background-color: #000; /* Color del encabezado (rosa oscuro) */
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }